# PostgreSQL Service Environment Template
POSTGRES_TAG=$POSTGRES_TAG
ADMINER_TAG=$ADMINER_TAG
APP_DOMAIN=$APP_DOMAIN
POSTGRES_PASSWORD=$POSTGRES_PASSWORD
KEYCLOAK_DB_PASSWORD=$KEYCLOAK_DB_PASSWORD
N8N_DB_PASSWORD=$N8N_DB_PASSWORD
GRAFANA_DB_PASSWORD=$GRAFANA_DB_PASSWORD
