# Keycloak Service Environment Template
KEYCLOAK_TAG=$KEYCLOAK_TAG
APP_DOMAIN=$APP_DOMAIN
KEYCLOAK_ADMIN=$KEYCLOAK_ADMIN
KEYCLOAK_ADMIN_PASSWORD=$KEYCLOAK_ADMIN_PASSWORD
KEYCLOAK_DB_PASSWORD=$KEYCLOAK_DB_PASSWORD
