# ==============================================================================
# Keycloak Remote Environment Template
# ==============================================================================

# 📦 Image Version
KEYCLOAK_TAG=$KEYCLOAK_TAG

# 🌐 Networking
APP_DOMAIN=$APP_DOMAIN

# 🔑 Credentials
KEYCLOAK_ADMIN=$KEYCLOAK_ADMIN
KEYCLOAK_ADMIN_PASSWORD=$KEYCLOAK_ADMIN_PASSWORD

# 🐘 Database
KEYCLOAK_DB_PASSWORD=$KEYCLOAK_DB_PASSWORD
